:global {
  /*===============================================================================
      [ Footer ]
================================================================================= */
  .ft__logo__img {
    width: 62px;
    border-radius: 50px;
  }
  /*===============================================================================
      [ Content ]
================================================================================= */
  .blog-details .blog-post-details .post-thumbnail>img {
    width: 100%;
  }
}