// @import '~/node_modules/@coreui//coreui/scss/coreui.scss';
@import '~/node_modules/bootstrap/scss/bootstrap.scss';

.nopadding {
  padding: 0px !important;
}

.nopadding-left {
  padding-left: 0px !important;
}

.nopadding-right {
  padding-right: 0px !important;
}