/*===============================================================================
      [ Header ]
================================================================================= */

.logo {
  width: 85px;
  height: 85px;
  padding-top: 10px;
  margin: 0px 10px 0px 20px;
  display: inline-block;
}

.logo img {
  border-radius: 50px;
}

.is-sticky .header__social li a > i.bi {
  color: #fff;
}

/*===============================================================================
      [ Footer ]
================================================================================= */

.ft__logo__img {
  width: 85px;
  border-radius: 50px;
}

/*===============================================================================
      [ Banner ]
================================================================================= */

.slider__content {
  margin-top: 0px;
}


/*===============================================================================
      [ Content ]
================================================================================= */
.blog-details .blog-post-details .post-thumbnail > img {
  width: 100%;
}

.blog-details .blog-post-details .post_wrapper .post_content p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

.blog-details .blog-post-details .post_wrapper .post_header .post_author li {
  font-size: 14px;
  font-weight: 600;
}