@import './styles/variables';

.header__menu {
  left: 0;
  position: absolute;
  right: 0;
  top: 0px;
  z-index: 9;
}

.header__menuspace {
  position: relative;
  // background: $main-color;
  :global {
    .mainmenu__nav .meninmenu li a {
      // color: #fff;
    }
    .row.menu {
      // border-bottom: 1px solid #aaa;
    }
  }
}

@media (max-width: 991px) {
  .header__menu {
    left: 0;
    position: relative;
    right: 0;
    top: 0px;
    z-index: 9; // display: flex;
  }
}