@import './styles/variables';
.header__menu {
  left: 0;
  position: absolute;
  right: 0;
  top: 0px;
  z-index: 9;
}

.header__menuspace {
  position: relative;
  padding-bottom: 40px;
}

@media (max-width: 991px) {
  .header__menu {
    left: 0;
    position: relative;
    right: 0;
    top: 0px;
    z-index: 9; // display: flex;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .header__menuspace {
    padding-bottom: 0px;
  }
  .header__menu {
    position: relative;
  }
}

@media (min-width: 426px) and (max-width: 767px) {
  .header__menuspace {
    padding-bottom: 0px;
  }
  .header__menu {
    position: relative;
  }
}

@media screen and (max-width: 425px) {
  .header__menuspace {
    padding-bottom: 0px;
  }
  .header__menu {
    position: relative;
  }
}